# ============================================================
# Generated results
# ============================================================

results/

# ============================================================
# Large / generated bioinformatics files
# ============================================================

*.h5
*.clstr
*.aligned.faa

# Snakemake
.snakemake/
.snake_lock

# Vim swap files
*.swp
*.swo

# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.so

# ============================================================
# Conda / environments
# ============================================================

.conda/
.env

# ============================================================
# Logs
# ============================================================

*.log
*.out
*.err

# ============================================================
# Temporary files
# ============================================================

*.tmp
*.temp
.DS_Store
